*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
}

body{
  overflow-x: hidden;
}



section1{
    background-color: red;
}



nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #ffcbcb;

}

nav h1{
    margin-left: 30px;
    font-size: 60px;
    font-family:'Oswald';
    font-weight: 900;
    color: #132743;
}

.content{
    display: flex;
    gap: 50px;
    font-size: 30px;
    padding: 15px 30px;
    color: #132743;
}







.section2{
    height: 100vh;
    width: 100%;
    background-color: #fff; 
}

.category{
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.category img{
  height: 100%;
  width: 40%;
}

.c0{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 80px;
  position: relative;
  background-color: #fff;
  color: #f4e1e1;
}
.c0 h1{
  background-color: #407088;
  font-size: 50px;
  white-space: nowrap;
  padding: 10px 16px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  margin-bottom: -20px; /* slight overlap */
  z-index: 8;
  box-shadow: 0 2px 11px rgba(247, 239, 239, 0.493);
}
.c0 h2{
  background-color: #132743;
  font-size: 40px;
  white-space: nowrap;
  padding: 10px 18px;
  border-radius: 10px;
  position: relative;
  top: -10px;
  left: 90px;
  z-index: 1;
  display: inline-block;
 
}
.c0 p{
  color: #e388a5;
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
  font-family: 'Inter', sans-serif;
}

.c1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #f4e1e1;
  flex-direction: column;
  margin: 20px;
}

.c1 img{
  height: auto;
  width: 600px;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c1 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #132743;
  margin-top: -50px;
  border-radius: 9px;
  padding: 10px 20px;
}


.c2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c2 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #ffffff;
  mix-blend-mode: multiply;  /*to remove bg of img*/
  position: relative;
  top: 80px;
}
.c2 h1{
  font-size: 80px;
  font-weight: 1000;
  color: #132743;
  top:60px;
  position: absolute;
  z-index: 2;
}


.c3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c3 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c3 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #132743;
  margin-top: -5px;
  border-radius: 9px;
  padding: 10px 20px;
}

.c4{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c4 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/
  position: relative;
  top: 70px;
}
.c4 h1{
  font-size: 80px;
  font-weight: 1000;
  color: #132743;
  top:55px;
  position: absolute;
  z-index: 2;
}

.c5{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c5 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c5 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #132743;
  margin-top: -2px;
  border-radius: 9px;
  padding: 10px 20px;
}

.c6{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c6 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c6 h1{
  font-size: 80px;
  font-weight: 900;
  color: #132743;
  margin-top: -10px;
  
}


.c7{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c7 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c7 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #132743;
  margin-top: -2px;
  border-radius: 9px;
  padding: 10px 20px;
}


.c8{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c8 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c8 h1{
  font-size: 80px;
  font-weight: 900;
  color: #132743;
  margin-top: -10px;
  
}

.c9{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c9 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c9 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #132743;
  margin-top: -2px;
  border-radius: 9px;
  padding: 10px 20px;
}


.container1{
  background-color: #ffb5b5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subcontain1{
  background-color: #ffb5b5;
  height: 100%;
  width: 30%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-items: center;
}

.subcontain1 img{
  height: 60%;
  width: 100%;
  mix-blend-mode: multiply;  /*to remove bg of img*/
}

.subcontain2{
  background-color: #ffb5b5;
  height: 100%;
  width: 70%;
  margin-top: 200px;
  margin-left: 30px;
}

.subcontain2 h1{
  font-size: 50px;
  font-weight: 800;
  white-space: nowrap;
  color: #132743;
}
.subcontain2 p{
  font-size: 30px;
  font-weight: 700;
  color: #234d62;;
}



.section3{
    height: 86vh;
    width: 100%;
    background-color: #ffb5b5;
}

.gallery{
   height: 100%;
    width: 100%;
    background-color: #ffb5b5;
    display: flex;
  align-items: center;
  justify-content: space-around;
}

.gallery img{
  height: 10%;
  width: 40%;
}



.section4{
    height: 100%;
    width: 100%;
    background-color: #ffb5b5;
}



.section5{
    height: 120%;
    width: 100%;
    background-color: #ffb5b5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.aboutcontent{
  height: 70%;
  width: 95%;
  background-color: #ffb5b5;
  border-radius: 50%;
}

.ab1{
  height: 70px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ab1 h1{
  font-size: 50px;
  font-weight: 1200;
  font-family: 'Nunito', sans-serif;
  background-color: #fcf8f3;
}

.abinner{
  height: 100%;
  width: 100%;
  display: flex;
}

.ab2{
  height: 100%;
  width: 60%;
  background-color:#ffd3b6;

}
.ab2 h1{
  font-size: 60px;
}
.ab2 p{
  font-size: 30px;
  font-weight: 500;
}

.ab3{
  height: 100%;
  width: 40%;
  background-color: #ffd3b6;
}
.ab3 img{
  height: 100%;
  width: 100%;
}



.section6{
    height: 100%;
    width: 100%;
    background-color: #ffb5b5;
}



#cursor {
  width: 20px;
  height: 20px;
  background-color: #0c0c0c;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode:difference /* optional for cool effect */
}




