*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
font-family: 'Open Sans' , sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
  overflow-x: hidden;
}



section1{
    background-color: red;
}



nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #bad8b6;
    flex-wrap: wrap;

}

nav h1{
    margin-left: 30px;
    font-size: 60px;
    font-family:'Oswald';
    font-weight: 900;
    color: #01352c;
}

.content{
    display: flex;
    gap: 50px;
    font-size: 30px;
    padding: 15px 30px;
    color: #01352c;
}

@media (max-width: 700px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    nav h1 {
        font-size: 40px;
        margin-left: 0;
    }

     .content {
        flex-direction: column;
        gap: 20px;
        padding: 10px 0;
        font-size: 24px;
        width: 100%;
    }

    .content h4 {
        padding-bottom: 8px;
        border-bottom: 1px solid #01352c;
        width: 100%;
    }
  }







.section2{
    height: 100vh;
    width: 100%;
    background-color: #fff; 
}

.category{
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.category img{
  height: 100%;
  width: 40%;
}

.c0{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 80px;
  position: relative;
  background-color: #fff;
  color: #e1eacd;
}
.c0 h1{
  background-color: #01352c;
  font-size: 50px;
  white-space: nowrap;
  padding: 10px 16px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  margin-bottom: -20px; /* slight overlap */
  z-index: 8;
  box-shadow: 0 2px 11px rgba(237, 218, 121, 0.493);
}
.c0 h2{
  background-color: #61b390;
  border: #01352c;
  border-width: 2px;
  font-size: 40px;
  white-space: nowrap;
  padding: 10px 18px;
  border-radius: 10px;
  position: relative;
  top: -10px;
  left: 90px;
  z-index: 1;
  display: inline-block;
 
}
.c0 p{
  color: #61b390;
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
  font-family: 'Inter', sans-serif;
}

.c1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #f4e1e1;
  flex-direction: column;
  margin: 20px;
}

.c1 img{
  height: auto;
  width: 600px;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c1 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #01352c;
  margin-top: -50px;
  border-radius: 9px;
  padding: 10px 20px;
}


.c2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c2 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #ffffff;
  mix-blend-mode: multiply;  /*to remove bg of img*/
  position: relative;
  top: 80px;
}
.c2 h1{
  font-size: 80px;
  font-weight: 1000;
  color: #01352c;
  top:60px;
  position: absolute;
  z-index: 2;
}


.c3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c3 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c3 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #01352c;
  margin-top: -5px;
  border-radius: 9px;
  padding: 10px 20px;
}

.c4{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c4 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/
  position: relative;
  top: 70px;
}
.c4 h1{
  font-size: 80px;
  font-weight: 1000;
  color: #01352c;
  top:55px;
  position: absolute;
  z-index: 2;
}

.c5{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c5 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c5 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #01352c;
  margin-top: -2px;
  border-radius: 9px;
  padding: 10px 20px;
}

.c6{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c6 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c6 h1{
  font-size: 80px;
  font-weight: 900;
  color: #01352c;
  margin-top: -10px;
  
}


.c7{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c7 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c7 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #01352c;
  margin-top: -2px;
  border-radius: 9px;
  padding: 10px 20px;
}


.c8{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c8 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c8 h1{
  font-size: 80px;
  font-weight: 900;
  color: #01352c;
  margin-top: -10px;
  
}

.c9{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  color: #fff;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}
.c9 img{
  height: auto;
  width: 600px;
  object-fit: contain;
  z-index: 1;
  background-color: #fefefe;
  mix-blend-mode: multiply;  /*to remove bg of img*/

}
.c9 h1{
  font-size: 80px;
  font-weight: 900;
  background-color: #01352c;
  margin-top: -2px;
  border-radius: 9px;
  padding: 10px 20px;
}

@media (max-width: 700px) {
  .category h1 {
    font-size: 40px;
  }
  .c0 h1, .c0 h2, .c0 p {
    font-size: 24px;
    white-space: normal;
    text-align: center;
  }
  .c0 {
    padding: 20px;
  }
}
@media (max-width: 700px) {
  .category {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .category {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .category > div {
    min-width: 80%;
    flex-shrink: 0;
  }
}
@media (max-width: 700px) {
  .category {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .category img {
    max-width: 90%;
    height: auto;
  }

  .category h1 {
    font-size: 40px;
  }

  .c0 {
    padding: 20px;
  }

  .c0 h1 {
    font-size: 32px;
  }

  .c0 h2 {
    font-size: 28px;
    left: 0;
    top: 0;
    position: relative;
  }

  .c0 p {
    font-size: 18px;
    white-space: normal;
    text-align: center;
  }
}


.container1{
  background-color: #e1eacd;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.subcontain1{
  background-color: #e1eacd;
  height: 100%;
  width: 30%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-items: center;
}

.subcontain1 img{
  height: 60%;
  width: 100%;
  mix-blend-mode: multiply;  /*to remove bg of img*/
}

.subcontain2{
  background-color: #e1eacd;
  height: 100%;
  width: 70%;
  margin-top: 200px;
  margin-left: 30px;
}

.subcontain2 h1{
  font-size: 50px;
  font-weight: 800;
  white-space: nowrap;
  color: #01352c;
}
.subcontain2 p{
  font-size: 30px;
  font-weight: 700;
  color: #01352c;
}


@media screen and (max-width: 700px) {
  .container1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .subcontain1,
  .subcontain2 {
    width: 100%;
    margin: 0;
  }

  .subcontain1 img {
    max-width: 80%;
    height: auto;
  }

  .subcontain2 {
    margin-top: 20px;
    padding: 10px;
  }

  .subcontain2 h1 {
    font-size: 28px;
    white-space: normal;
  }
   .subcontain2 p {
    font-size: 18px;
  }
}


.section3{
    height: 100%;
    width: 100%;
    background-color: #e1eacd;
}

.galleryy{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxcontainer1{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 20px;
}
.boxcontainer2{
  height: 100%;
  width: 50%;
  display: flex;
   justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 20px;
}
.box1{
 height: 60%;
 width: 70%;
 background-color: #fff;
 object-fit: cover;
 overflow: hidden;
 border-radius: 15px;
}

.galleryy img{
  height: 100%;
  width: 100%;
  transition: all ease 1s;
}

.box1:hover img{
  scale: 1.2;
}



.section4{
    height: 100%;
    width: 100%;
    background-color: #e1eacd;
}



.section5{
    height: 120%;
    width: 100%;
    background-color: #e1eacd;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.aboutcontent{
  height: 70%;
  width: 95%;
  background-color: #61b390;
  border-radius: 50%;
}

.ab1{
  height: 70px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ab1 h1{
  font-size: 50px;
  font-weight: 1200;
  font-family: 'Nunito', sans-serif;
  background-color: #fcf8f3;
}

.abinner{
  height: 100%;
  width: 100%;
  display: flex;
}

.ab2{
  height: 100%;
  width: 60%;
  background-color:#bad8b6;

}
.ab2 h1{
  font-size: 60px;
  color: #01352c;
}

.ab2 p{
  font-size:25px;
  padding: 1rem;
  font-weight: 500;
  color: #01352c;
}

.ab3{
  height: 100%;
  width: 40%;
  background-color: #bad8b6;
}
.ab3 img{
  height: 100%;
  width: 100%;
}



.section6{
    height: 90%;
    width: 100%;
    background-color: #bad8b6;
}


.contactcontent{
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.content1{
  height: 10%;
  width: 100%;
  background-color: #e1eacd;
}
.content1 marquee{
  font-size: 60px;
  font-weight: 800;
  font-family: gilroy;
  color: #01352c;
}
.content2{
  height: 100%;
  width: 100%;
  background-color: #bad8b6;
  display: flex;
}

.cc1{
  height: 100%;
  width: 50%;
  background-color: #e1eacd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cc1 form{
  height: 80%;
  width: 80%;
  background-color: #e1eacd;
}
.cc1 label{
font-size: 45px;
font-weight: 600;
color: #01352c;
}
.cc1 input{
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border-color: #61b390;
  border-width: 3px;
}
.cc1 select{
  height: 40px;
  width: 200px;
  font-size:30px ;
  border-radius: 10px;
  border-color: #61b390;
  border-width: 3px;
}


.cc2{
  height: 100%;
  width: 50%;
  background-color: #e1eacd;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  gap: 5px 5px;
}

.cc2  img{
  height: 40px;
}
.cc2 a{
  font-size: 40px;
  color: #01352c;
}
.cc2 p{
  font-size: 40px;
  color: #01352c;
}
.cs1 img{
  height: 20px;
  position: relative;
  top: 1px;
}
.cc2 button{
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border-color: #61b390 ;
  color: #01352c;
  font-size: 30px;
  font-weight: 1000;
  border-width: 3px;
}

#cursor {
  width: 20px;
  height: 20px;
  background-color: #0c0c0c;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode:difference /* optional for cool effect */
}
